$bg-c-two : #3b3939;
$white-color : #fff;
$black-color : #000;

@media (min-width: 0px) and (max-width: 767.9px) {
	html {
		overflow-x: hidden;
	}
	body {
		padding: 0px;
		margin: 0;
		font-family: 'Montserrat', sans-serif;
		color: $bg-c-two;
		position: relative;
	}

	.content {
		width: 90%;
		margin: 0 auto;
	}

	.header {
		width: 100%;
		background: url('../../img/header.png') no-repeat center top;
		background-size: cover;
		padding-top: 27px;
		padding-bottom: 78px;
	}

	.hide320 {
		display: none;
	}

	.hide_stars {
		display: none;
	}

	.fa-star {
		color: #f3b787;
	}

	.logo_header {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		display: flex;
	}

	.logo_ a {
		text-decoration: none;
		color: $bg-c-two;
	}

	.link_title {
		margin-top: 15px;
	}

	.logo img {
		height: 28px;
		width: 27px;
		margin-right: 10px;
	}

	.logo_title {
		text-transform: uppercase;
		display: flex;
		align-items: flex-end;
		margin-bottom: 10px;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 1.5px;
	}

	.menu_header img {
		width: 30px;
	}

	.menu {
		position: absolute;
		top: 0;
		left: 5%;
		width: 90%;
		margin: 0 auto;
		background-color: #3B393A;
		display: flex;
		justify-content: center;
		padding-top: 80px;
		padding-bottom: 80px;
		display: none;
	}

	.close_header_menu {
		position: absolute;
	}

	.first_close {
		position: fixed;
		top: 6%;
		right: 10%;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid gray;
		opacity: 0.8;
		transform: rotate(45deg);
	}

	.second_close {
		position: fixed;
		top: 6%;
		right: 10%;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid gray;
		opacity: 0.8;
		transform: rotate(135deg);
	}

	.hide_menu {
		display: none;
	}

	.first_ul {
		padding: 0;
	}

	.menu li {
		list-style: none;
		margin-top: 17px;
		margin-bottom: 17px;
	}

	.menu a {
		text-decoration: none;
		color: #fff;
		font-size: 18px;
		letter-spacing: 4px;
		font-weight: 300;
	}

	.title_header {
		font-size: 28px;
		font-weight: 700;
		line-height: 38px;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 20px;
	}

	.info_header {
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
		width: 90%;
		text-align: center;
		margin: 0 auto;
	}

	.lines_button {
		margin: 0 auto;
		width: 215px;
		height: 60px;
		box-shadow: 0 0 34px 1px rgba(159, 128, 92, 0.08);
		border-radius: 35px;
		border: 1px solid #f3b787;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 57px;
	}

	.header_button {
		margin: 0 auto;
		padding: 14px 55px 14px 55px;
		background-color: #f3b787;
		color: #fff;
		border-radius: 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
	}

	.line {
		display: inline-block;
		height: 4px;
		width: 4px;
		transform: rotate(135deg);
		border-left: 1px solid #fff;
		border-top: 1px solid #fff;
		margin-bottom: 1.5px;
		margin-left: 2px;
		font-weight: 700;
	}

	.section {
		padding-top: 70px;
	}

	.right_section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;	}

	.section_title {
		width: 201px;
		height: 65px;
		font-size: 28px;
		font-weight: 700;
		line-height: 38px;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.section_info {
		height: 109px;
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
		margin: 0 auto;
		margin-bottom: 10px;
		text-align: center;
	}

	.hide768 img {
		width: 100%;
		margin-top: 10px;
		max-width: 300px;
	}

	.points {
		padding-bottom: 70px;
	}

	.circle {
		height: 38px;
		width: 38px;
		border-radius: 50%;
		background-color: #f3b787;
		margin-right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.circle_text {
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		font-weight: 500;
		width: 80%;
		-ms-text-align-last: auto;
		text-align: left;
	}

	.first_point, .second_point, .third_point {
		display: flex;
		margin-bottom: 30px;
	}

	.section_watch {
		width: 100%;
		background: url('../../img/mubariz-mehdizadeh-427362-unsplash.png') no-repeat center top;
		background-size: cover;
		padding-top: 93px;
		padding-bottom: 94px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.section_watch .content{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.big_line2 {
		height: 120px;
		width: 120px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-bottom: 20px;
	}

	.middle_line2 {
		height: 90px;
		width: 90px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin: 0 auto;
		line-height: 100%;
		margin-top: 12%;
	}

	.watch_button2 {
	 	height: 60px;
		width: 60px;
		border-radius: 50%;
		border: 1px solid #fff;
		background-color: #fff;
		margin: 0 auto;
		line-height: 100%;
		margin-top: 16%;
	}

	.watch_play2 {
	    position: relative;
	    margin-top: 8%;
	}
	 
	.watch_play2::after {
	    content: ''; 
	    position: absolute; 
	    left: 45%; bottom: -42px;
	    border: 12px solid transparent;
	    border-top: 18px solid #f3b787;
	    transform: rotate(270deg);
	}

	.watch_text2 {
		color: #ffffff;
		font-family: Montserrat;
		text-decoration: none;
		font-size: 16px;
		margin-left: -8px;
	}

	.our_work .content {
		text-align: center;
	}

	.work_title {
		margin-top: 100px;
		font-size: 28px;
		font-weight: 700;
		line-height: 38px;
		margin-bottom: 40px;
	}

	.our_work {
		padding-bottom: 100px;
	}

	.list_one {
		display: flex;
		flex-direction: column;
	}

	.list_two {
		display: flex;
		flex-direction: column;
	}

	.list_work {
		text-align: center;
	}

	.df {
		display: flex;
	}

	.around {
		height: 58px;
		width: 58px;
		min-width: 58px;
		min-height: 58px;
		border-radius: 50%;
		background-color: #f3b787;
		margin-right: 14px;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.icon_three {
		height: 58px;
		width: 58px;
		margin-top: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/*.text_work {
	}*/

	.main_text_two {
		text-align: left;
		width: 150px;
		height: 12px;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 700;
		line-height: 34px;
		margin-bottom: 20px;
	}

	.second_text {
		text-align: left;
		width: 100%;
		height: 55px;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		font-weight: 500;
	}

	.title_feel	{
		font-size: 28px;
		font-weight: 700;
		line-height: 38px;
		text-align: center;
	}

	.text_feel {
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
		text-align: center;
		margin-right: 20px;
		margin-left: 20px;
	}

	.img_feel {
		width: 100vw;
		height: 400px;
		min-height: 300px;
		margin-top: 60px;
		object-fit: cover;
	}

	.sec_left {
		margin-top: 120px;
	}

	.img_feel_two {
		width: 100vw;
		height: 400px;
		min-height: 300px;
		margin-top: 60px;
		object-fit: cover;
	}

	.title_feel_two {		
		font-size: 28px;
		font-weight: 700;
		line-height: 38px;
		text-align: center;
	}

	.title_select {
		font-size: 28px;
		font-weight: 700;
		line-height: 35px;
	}

	.ul_select {
		overflow: auto;
		display: flex;
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 61px;
	}

	.ul_select li {
		margin-right: 50px;
	}

	.button_select {
		height: 20px;
		opacity: 0.25;
		color: $bg-c-two;
		font-size: 18px;
		font-weight: 700;
		line-height: 25px;
		font-variant: small-caps;
		text-decoration: none;
		cursor: pointer;
	}

	.active_select {
		text-decoration: none;
		height: 20px;
		color: #F3B787;
		font-size: 18px;
		font-weight: 700;
		line-height: 25px;
		font-variant: small-caps;
		cursor: pointer;
	}

	.name_headphone {
		width: 180px;
		height: 12px;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 700;
		line-height: 25px;
		margin-bottom: 31px;
	}

	.stars_text {
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		margin-top: 20px;
	}

	.stars_text {
		height: 165px;
	}

	table {
		border-collapse: collapse;
		font-weight: 500;
	}

	td {
		border: 1px solid rgba(23,22,22, 0.08);
		border-collapse: collapse;
	}

	.setting_one {
		font-size: 10px;
		font-weight: 500;
		line-height: 16.16px;
		background-color: #f5f5f5;
		padding: 14px 27px 13px 18px;
		font-weight: 600;
	}

	.setting_two {
		font-size: 10px;
		font-weight: 500;
		line-height: 16.16px;
		background-color: #f5f5f5;
		padding: 14px 30px 13px 29px;
		font-weight: 600;

	}

	.pad_left {
		font-size: 10px;
		font-weight: 300;
		line-height: 16.16px;
		font-weight: 500;
		padding: 20px 0px 20px 18px;
	}

	.to_center {
		font-size: 10px;
		font-weight: 500;
		line-height: 16.16px;
		text-align: center;
	}

	.slider320 {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.slider_img {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.slider_circle {
		display: flex;
		justify-content: center;
	}

	.slider_hide {
		display: none;
	}

	.img_sl {
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: #BDBEC2;
		margin-right: 20px;
		margin-top: 30px;
		cursor: pointer;
	}

	.activ_sl {
		background-color: #f3b787;
	}

	.main_img {
		display: flex;
	}

	.buy_line {
		width: 220px;
		min-height: 60px;
		box-shadow: 0 0 34px 1px rgba(159, 128, 92, 0.08);
		border-radius: 50px;
		border: 1px solid #f3b787;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 120px;
	}

	.buy_button {
		height: 47px;
		width: 205px;
		margin: 0 auto;
		background-color: #f3b787;
		color: #fff;
		border-radius: 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.all_price {
		display: flex;
		padding-top: 20px;
		align-items: center;
		margin-bottom: 43px;
	}

	.price {
		width: 200px;
		height: 31px;
		color: $bg-c-two;
		font-family: Montserrat;
		font-size: 32px;
		font-weight: 700;
		line-height: 65px;
		font-variant: small-caps;
		/*margin: 31px;*/
	}

	.last_price {
		width: 150px;
		height: 20px;
		opacity: 0.45;
		color: $bg-c-two;
		font-family: Montserrat;
		font-size: 22px;
		font-weight: 500;
		line-height: 65px;
		text-decoration: line-through;
		padding-bottom: 7px;
	}

	.overview {
		margin-top: 20px;
		font-size: 12px;
		font-weight: 300;
		line-height: 20px;
	}

	.comfort {
		width: 100%;
		background: url('../../img/comfort.png') no-repeat center center;
		background-size: cover;
		padding-top: 97px;
		padding-bottom: 96px;
		margin-bottom: 120px;
		object-fit: cover;
	}

	.comfort .content {
		text-align: center;
		width: 90%;
	}

	.comfort_main {
		text-shadow: 0 0 12px rgba(51, 51, 51, 0.4);
		color: #fff;
		font-size: 28px;
		font-weight: 700;
		line-height: 38px;
		margin-bottom: 40px;
	}

	.comfort_text {
		text-shadow: 0 0 12px rgba(51, 51, 51, 0.4);
		color: #fff;
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
	}

	.questions {
		font-size: 28px;
		font-weight: 700;
		line-height: 38px;
		text-align: center;
	}

	.contacts {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		font-weight: 500;
		text-align: center;
		margin-bottom: 20px;
	}

	.contacts div {
		margin: 0 auto;
		margin-bottom: 10px;
		text-align: center;
	}

	.call_form {
		display: flex;
		flex-direction: column;
		margin-top: 45px;
	}

	input {
		outline: none;
	}

	.inputs_call {
		max-width: 80%;
		padding: 22px 150px 22px 39px;
		border-radius: 50px;
		border: 0px;
		background-color: #F5F5F5;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 30px;
	}

	.checkbox_confirm {
		margin-top: 15px;
		display: flex;
		margin-left: 15px;
		align-items: center;
		margin-bottom: 45px;
	}

	.checkbox_around {
		background: none;
		height: 30px;
		width: 30px;
		border: none;
		margin-right: 13px;
		margin-top: 10px;
	}

	.confirm_text {
		width: 400px;
		height: 36px;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		font-weight: 500;
	}

	.link_confirm {
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		text-decoration: underline;
		font-weight: 500;
	}

	.call_line {
		margin: 0 auto;
		margin-bottom: 50px;
		margin-top: 50px;
	}

	.call_button {
		position: relative;
	}

	.call_text {
		padding-left: 10px;
		font-size: 14px;
		font-weight: 700;
		line-height: 25px;
	}

	.phone_size {
		transform: rotate(90deg);
		margin: 0 auto;
		margin-left: 15px;
		margin-top: -5px;
	}

	.footer {
		background-color: $bg-c-two;
		padding-top: 35px;
	}

	.footer_ul {
		padding: 0;
		width: 100%;
	}

	.footer_menu {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.logo_footer {
		margin-top: 20px;
		margin-right: 30px;
	}

	.logo_footer img {
		margin-top: 10px;
	}

	.footer_logo_text {
		width: 100px;
		height: 13px;
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		line-height: 62px;
		text-transform: uppercase;
		letter-spacing: 2.16px;
		margin-left: 10px;
		margin-right: 20px;
	}

	.menu_footer a {
		width: 80px;
		height: 14px;
		color: #ffffff;
		font-size: 12px;
		font-weight: 300;
		line-height: 62px;
		letter-spacing: 1.44px;
		text-decoration: none;
	}

	.menu_footer li {
		display: inline-block;
		text-align: left;
		margin-right: 40px;
		height: 20px;
	}

	.icons_social {
		padding-top: 41px;
		margin-left: 150px;
	}

	.color_soc {
		color: #fff;
		margin-right: 10px;
	}

	.footer_menu {
		display: flex;
	}

	.line_footer {
		height: 1px;
		background-color: #f5f5f5;
		opacity: 0.1;
		margin-bottom: 20px;
	}

	.copy_footer {
		opacity: 0.75;
		color: #fff;
		font-size: 12px;
		font-weight: 400;
		line-height: 22px;
		display: flex;
		justify-content: center;
		padding-bottom: 17px;
	}

	.order_place {
		position: fixed;
		width: 90%;
		padding-top: 40px;
		background-color: #fff;
		border-radius: 15px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
		overflow: auto;
	}

	.clouse_modal {
		position: absolute;
		top: 3vh;
		right: 5vw;
		height: 25px;
		width: 25px;
	}

	.first_modal {
		position: fixed;
		margin-top: 1.3vh;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid #3b3939;
		opacity: 0.8;
		transform: rotate(45deg);
	}

	.second_modal {
		position: fixed;
		margin-top: 1.3vh;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid #3b3939;
		opacity: 0.8;
		transform: rotate(135deg);
	}

	.modal_title {
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: 0.5px;
	}

	select:focus,
	select:hover,
	option:hover,
	option:focus {
		border:none;
		outline:none;
		border:transparent;
	}

	.order_place form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 90%;

	}

	.modal_inputs {
		margin: 0 auto;
		width: 200px;
		padding: 10px 0px 10px 40px;
		border-radius: 50px;
		border: 0px;
		background-color: #F5F5F5;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 5px;
	}

	.last_input {
		border-radius: 50px;
		padding: 10px 0px 10px 40px;
	}

	.label_select {
		margin: 0 auto;
		outline: none;
		padding: 0;
		display: flex;
		text-align: center;
		width: 240px;
	}

	.modal_select {
		margin: 0 auto;
		width: 240px;
		height: 45px;
		border-radius: 50px;
		border: 0px;
		padding-left: 30px;
		background-color: #F5F5F5;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 5px;
		display: flex;
		text-align: center;
	}

	.lines_modal {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.modal_button_320 {
		height: 40px;
		width: 180px;
		margin: 0 auto;
		background-color: #f3b787;
		color: #fff;
		border-radius: 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.modal_checkbox_confirm {
		display: flex;
		margin-bottom: 20px;
		font-size: 16px;
	}

	.confirm_text_modal {
		text-align: left;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.checkbox_around_modal {
		background: none;
		height: 25px;
		width: 25px;
		border: none;
		margin-right: 13px;
	}

	.hide_header_menu {
		position: absolute;
		top: 0;
		left: 5%;
		width: 90%;
		margin: 0 auto;
		background-color: #3B393A;
		display: flex;
		justify-content: center;
		padding-top: 80px;
		padding-bottom: 80px;
		display: none;
	}

	.hide_header_menu li {
		list-style: none;
		margin-top: 17px;
		margin-bottom: 17px;
	}

	.hide_header_menu a {
		text-decoration: none;
		color: #fff;
		font-size: 18px;
		letter-spacing: 4px;
		font-weight: 300;
	}

	.close_header_menu {
		position: absolute;
		top: 7%;
		right: 8%;
		height: 25px;
		width: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.first_close {
		margin-right: 2%;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid gray;
		opacity: 0.8;
		transform: rotate(45deg);
	}

	.second_close {
		margin-right: 2%;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid gray;
		opacity: 0.8;
		transform: rotate(135deg);
	}
}










































@media (min-width: 768px) and (max-width: 1199px){
	html {
	 	overflow-x: hidden; 
	}

	body {
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		margin: 0;
		padding: 0;
		color: $bg-c-two;
	}

	.content {
		width: 750px;
		margin: 0 auto;
		padding: 0;
	}

	.header {
		background-image: linear-gradient(to right, rgba(239, 239, 239, 0.25) 0%, rgba(211, 211, 211, 0.25) 100%);
		background: url('../../img/header.png') no-repeat center top;
		background-size: cover;
		padding-top: 25px;
		padding-bottom: 80px;
	}

	.hide768 {
		display: none;
	}

	.hide_stars {
		display: none;
	}

	.fa-star {
		color: #f3b787;
	}

	.logo_header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 65px;
	}

	.logo {
		display: flex;
	}

	.logo_ a {
		text-decoration: none;
		color: $bg-c-two;
	}

	.logo img {
		height: 28px;
		width: 27px;
		margin-right: 10px;
		margin-top: -15px;
	}

	.logo_title {
		text-transform: uppercase;
		display: flex;
		align-items: flex-end;
		margin-bottom: 4px;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 1.5px;
	}

	.menu_header img {
		width: 30px;
		height: 30px;
		margin-top: 10px;
	}

	.menu {
		position: absolute;
		top: 0;
		left: 5%;
		width: 90%;
		margin: 0 auto;
		background-color: #3B393A;
		display: flex;
		justify-content: center;
		padding-top: 80px;
		padding-bottom: 80px;
		display: none;
	}

	.close_header_menu {
		position: absolute;
		cursor: pointer;
	}

	.first_close {
		position: fixed;
		top: 6%;
		right: 8%;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid gray;
		opacity: 0.8;
		transform: rotate(45deg);
	}

	.second_close {
		position: fixed;
		top: 6%;
		right: 8%;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid gray;
		opacity: 0.8;
		transform: rotate(135deg);
	}

	.hide_menu {
		display: none;
	}

	.menu li {
		list-style: none;
		margin-top: 17px;
		margin-bottom: 17px;
	}

	.menu a {
		text-decoration: none;
		color: #fff;
		font-size: 18px;
		letter-spacing: 4px;
		font-weight: 300;
	}

	.title_header {
		width: 500px;
		height: 114px;
		font-size: 35px;
		font-weight: 700;
		line-height: 45px;
		margin-bottom: 35px;
	}

	.info_header {
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 50px;
		width: 530px;
	}

	.lines_button {
		width: 215px;
		height: 60px;
		box-shadow: 0 0 34px 1px rgba(159, 128, 92, 0.08);
		border-radius: 35px;
		border: 1px solid #f3b787;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header_button {
		margin: 0 auto;
		padding: 14px 55px 14px 55px;
		background-color: #f3b787;
		color: #fff;
		border-radius: 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
	}

	.line {
		display: inline-block;
		height: 4px;
		width: 4px;
		transform: rotate(135deg);
		border-left: 1px solid #fff;
		border-top: 1px solid #fff;
		margin-bottom: 1.5px;
		margin-left: 2px;
		font-weight: 700;
	}

	.order_watch {
		display: flex;
	}

	.header_watch {
		margin-left: 300px;
		margin-top: -65px;
	}
	
	.big_line {
		height: 66px;
		width: 66px;
		border-radius: 50%;
		border: 1px solid #fff;
	}

	.middle_line {
		height: 54px;
		width: 54px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin: 0 auto;
		margin-top: 7.4%;
	}

	.watch_button {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin: 0 auto;
		margin-top: 11%;
		background-color: #fff;
	}

	.watch_play {
	    position: relative;
	    margin-top: 20%;
	}
	 
	.watch_play::after {
	    content: ''; 
	    position: absolute; 
	    left: 45%; bottom: -22px;
	    border: 7px solid transparent;
	    border-top: 12px solid #f3b787;
	    transform: rotate(270deg);
	}

	.hide768_header {
		display: none;
	}

	.section {
		padding-top: 100px;
		padding-bottom: 70px;
		margin-left: -30px;
	}

	.section_one {
		display: flex;
	}

	.left_section {
		margin-left: -50px;
		margin-top: 30px;
	}

	.left_section img {
		height: 425px;
	}

	.section_title {
		width: 430px;
		height: 35px;
		font-size: 35px;
		font-weight: 700;
		line-height: 45px;
		margin-bottom: 35px;
	}

	.section_info {
		width: 364px;
		font-size: 15px;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 50px;
	}

	.circle {
		height: 32px;
		width: 32px;
		border-radius: 50%;
		background-color: #f3b787;
		margin-right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.circle_text {
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		font-weight: 500;
		width: 85%;
		text-align: left;
	}

	.first_point, .second_point, .third_point {
		display: flex;
		margin-bottom: 25px;
	}

	.line_headphone1 {
		width: 100px;
		height: 1px;
		background-color: #f3b787;
		margin-left: -115px;
		margin-right: 17px;
		margin-top: 17.5px;
		position: relative;
	}

	.line_headphone2 {
		width: 130px;
		height: 1px;
		background-color: #f3b787;
		margin-left: -144px;
		margin-right: 17px;
		margin-top: 17.5px;
		position: relative;
	}

	.line_headphone3 {
		width: 160px;
		height: 1px;
		background-color: #f3b787;
		margin-left: -174px;
		margin-right: 17px;
		margin-top: 17.5px;
		position: relative;
	}

	.line_before:before {
		content: '';
		position: absolute;
		left: 0;
		top: -3px;
		height: 8px;
		width: 8px;
		border-radius: 50%;
		background-color: #f3b787;
	}

	.section_watch {
		width: 100%;
		background: url('../../img/mubariz-mehdizadeh-427362-unsplash.png') no-repeat center top;
		background-size: cover;
		padding-top: 108px;
		padding-bottom: 142px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.section_watch .content{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header_watch2 {
		margin: 0;
		padding: 0;
	}

	.big_line2 {
		height: 120px;
		width: 120px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-bottom: 20px;
	}

	.middle_line2 {
		height: 90px;
		width: 90px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin: 0 auto;
		line-height: 100%;
		margin-top: 12%;
	}

	.watch_button2 {
	 	height: 60px;
		width: 60px;
		border-radius: 50%;
		border: 1px solid #fff;
		background-color: #fff;
		margin: 0 auto;
		line-height: 100%;
		margin-top: 16%;
	}

	.header_watch2 .watch_play2 {
	    position: relative;
	    margin-top: 8%;
	}
	 
	.watch_play2::after {
	    content: ''; 
	    position: absolute; 
	    left: 45%; bottom: -42px;
	    border: 12px solid transparent;
	    border-top: 18px solid #f3b787;
	    transform: rotate(270deg);
	}

	.watch_text2 {
		color: #ffffff;
		font-family: Montserrat;
		text-decoration: none;
		font-size: 16px;
		margin-left: -8px;
	}

	.work_title {
		font-size: 35px;
		font-weight: 700;
		line-height: 60px;
		text-align: center;
		margin-top: 100px;
		margin-bottom: 38px;
	}

	.our_work {
		padding-bottom: 100px;
	}

	.list_one {
		display: flex;
		flex-direction: row;
	}

	.request {
		margin-right: 50px;
	}

	.handing {
		margin-right: 50px;
	}

	.list_two {
		display: flex;
		flex-direction: row;
	}

	.list_work {
		text-align: center;
	}

	.df {
		display: flex;
	}

	.around {
		height: 58px;
		width: 58px;
		min-width: 58px;
		min-height: 58px;
		border-radius: 50%;
		background-color: #f3b787;
		margin-right: 14px;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.icon_three {
		height: 58px;
		width: 58px;
		margin-top: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/*.text_work {
	}*/

	.main_text_two {
		text-align: left;
		width: 150px;
		height: 12px;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 700;
		line-height: 34px;
		margin-bottom: 20px;
	}

	.second_text {
		text-align: left;
		width: 300px;
		height: 55px;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		font-weight: 500;
	}

	.sec_right {
		display: flex;
		justify-content: flex-end;
	}

	.left_text {
		width: 45%;
	}

	.title_feel {
		color: $bg-c-two;
		font-size: 35px;
		font-weight: 700;
		line-height: 45px;
		margin-bottom: 37px;
		margin-top: 100px;
		width: 400px;
	}

	.img_feel {
		width: 50%;
		background-image: linear-gradient(to right, rgba(239, 239, 239, 0.07) 0%, rgba(211, 211, 211, 0.07) 100%);
		opacity: 0.85;
		margin-left: 23px;
		object-fit: cover;
	}

	.text_feel {
		width: 400px;
		height: 92px;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 50px;
	}

	.tf {
	margin-bottom: 100px;
	}

	.sec_left {
		display: flex;
		margin-bottom: 136px;
	}

	.img_feel_two {
		width: 50%;
		height: 585px;
		background-image: linear-gradient(to right, rgba(239, 239, 239, 0.07) 0%, rgba(211, 211, 211, 0.07) 100%);
		opacity: 0.93;
		margin-right: 43px;
		object-fit: cover;
	}

	.title_feel_two {
		color: $bg-c-two;
		font-size: 50px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 37px;
		margin-top: 127px;
	}

	.select_block {
		display: flex;
	}

	.title_select {
		font-size: 35px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 36px;
	}

	.ul_select {
		display: flex;
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 61px;
	}

	.ul_select li {
		margin-right: 50px;
	}

	.button_select {
		height: 20px;
		opacity: 0.25;
		color: $bg-c-two;
		font-size: 18px;
		font-weight: 700;
		line-height: 25px;
		font-variant: small-caps;
		text-decoration: none;
		cursor: pointer;
	}

	.active_select {
		text-decoration: none;
		height: 20px;
		color: #F3B787;
		font-size: 18px;
		font-weight: 700;
		line-height: 25px;
		font-variant: small-caps;
		cursor: pointer;
	}

	.name_headphone {
		width: 180px;
		height: 12px;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 700;
		line-height: 25px;
		margin-bottom: 31px;
	}

	.stars_text {
		height: 161px;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
		margin-top: 20px;
	}

	table {
		border-collapse: collapse;
		font-weight: 500;
	}

	td {
		border: 1px solid rgba(23,22,22, 0.08);
		border-collapse: collapse;
	}

	.setting_one {
		font-size: 10px;
		font-weight: 500;
		line-height: 16.16px;
		background-color: #f5f5f5;
		padding: 14px 27px 13px 18px;
		font-weight: 600;
	}

	.setting_two {
		font-size: 10px;
		font-weight: 500;
		line-height: 16.16px;
		background-color: #f5f5f5;
		padding: 14px 30px 13px 29px;
		font-weight: 600;

	}

	.pad_left {
		font-size: 10px;
		font-weight: 300;
		line-height: 16.16px;
		font-weight: 500;
		padding: 20px 0px 20px 18px;
	}

	.to_center {
		font-size: 10px;
		font-weight: 500;
		line-height: 16.16px;
		text-align: center;
	}

	.all_price {
		display: flex;
		padding-top: 20px;
		align-items: center;
		margin-bottom: 43px;
	}

	.price {
		width: 200px;
		height: 31px;
		color: $bg-c-two;
		font-family: Montserrat;
		font-size: 32px;
		font-weight: 700;
		line-height: 65px;
		font-variant: small-caps;
		/*margin: 31px;*/
	}

	.last_price {
		width: 150px;
		height: 20px;
		opacity: 0.45;
		color: $bg-c-two;
		font-family: Montserrat;
		font-size: 22px;
		font-weight: 500;
		line-height: 65px;
		text-decoration: line-through;
		padding-bottom: 7px;
	}

	.colors {
		display: flex;
		margin-bottom: 40px;
	}

	.color_sel {
		height: 15px;
		width: 15px;
		border-radius: 50%;
		margin-right: 17px;
	}

	.col_one {
		background-color: #27282a;
	}

	.active_color {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		border: 2px solid #f3b787;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -6px;
		margin-right: 17px;
	}

	.active {
		height: 15px;
		width: 15px;
		border-radius: 50%;
		margin: 5px;
		background-color: #ececec;
	}

	.col_two {
		background-color: #ececec;
	}

	.col_three {
		background-color: #c1b09e;
	}

	.col_four {
		background-color: #d5d6d8;
	}

	.col_five {
		background-color: #d6ada7;
	}

	.col_six {
		background-color: #bfbfbf;
	}

	.col_seven {
		background-color: #d7c5b1;
	}

	.col_eight {
		background: linear-gradient(to bottom, #ba2133 50%, #4b4c50 50%);
	}

	.right_select {
		padding-top: 100px;
		margin-bottom: 25px;
	}

	.top_img {
		margin-bottom: 20px;
	}

	.down_img {
		display: flex;
		justify-content: center;
	}

	.down_one {
		padding: 5px;
		height: 74px;
		width: 74px;
		margin-right: 15px;
		margin-left: 15px;
		border: 1px solid #f3b787;
		cursor: pointer;
	}

	.down_one img {
		height: 74px;
		width: 74px;
	}

	.buy_line {
		width: 242px;
		min-height: 65px;
		box-shadow: 0 0 34px 1px rgba(159, 128, 92, 0.08);
		border-radius: 50px;
		border: 1px solid #f3b787;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 120px;
	}

	.buy_button {
		height: 53px;
		width: 225px;
		margin: 0 auto;
		background-color: #f3b787;
		color: #fff;
		border-radius: 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.top_img {
		margin-top: 150px;
		margin-left: 0px;
	}

	.top_img img {
		height: 314px;
		width: 314px;
	}

	.overview {
		margin-top: 20px;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
	}

	.comfort {
		width: 100vw;
		background: url('../../img/comfort.png') no-repeat center center;
		background-size: cover;
		padding-top: 108px;
		padding-bottom: 108px;
		margin-bottom: 120px;
	}

	.comfort .content {
		text-align: center;
		width: 90%;
	}

	.comfort_main {
		text-shadow: 0 0 12px rgba(51, 51, 51, 0.4);
		color: #fff;
		font-size: 35px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 40px;
	}

	.comfort_text {
		text-shadow: 0 0 12px rgba(51, 51, 51, 0.4);
		color: #fff;
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
	}

	.questions {
		margin: 0 auto;
		width: 600px;
		color: $bg-c-two;
		font-size: 35px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 36px;
		text-align: center;
	}

	.float_contacts {
		margin-right: 50px;
		margin-bottom: 66px;
	}

	.contacts {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		width: 450px;
		font-weight: 500;
	}

	.map_call {
		 display: flex;
	}

	.map {
		width: 300px;
		height: 300px;
		margin-right: 70px;
	}

	.call_form {
		display: flex;
		flex-direction: column;
	}

	input {
		outline: none;
	}

	.inputs_call {
		max-width: 346px;
		padding: 22px 150px 22px 39px;
		border-radius: 50px;
		border: 0px;
		background-color: #F5F5F5;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 30px;
	}

	.checkbox_confirm {
		margin-top: 15px;
		display: flex;
		margin-left: 15px;
		align-items: center;
		margin-bottom: 45px;
	}

	.checkbox_around {
		background: none;
		height: 30px;
		width: 30px;
		border: none;
		margin-right: 13px;
		margin-top: 10px;
	}

	.confirm_text {
		width: 400px;
		height: 36px;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		font-weight: 500;
	}

	.link_confirm {
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		text-decoration: underline;
		font-weight: 500;
	}

	.call_line {
		margin-left: 15px;
	}

	.call_button {
		position: relative;
	}

	.call_text {
		padding-left: 10px;
		font-size: 14px;
		font-weight: 700;
		line-height: 25px;
	}

	.phone_size {
		transform: rotate(90deg);
		margin: 0 auto;
		margin-left: 15px;
		margin-top: -5px;
	}

	.footer {
		background-color: $bg-c-two;
		padding-top: 35px;
	}

	.logo {
		margin-top: 20px;
		margin-right: 30px;
	}

	.logo_footer img {
		margin-top: 10px;
	}

	.footer_logo_text {
		width: 100px;
		height: 13px;
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		line-height: 62px;
		text-transform: uppercase;
		letter-spacing: 2.16px;
		margin-left: 10px;
		margin-right: 20px;
	}

	.menu_footer a {
		width: 80px;
		height: 14px;
		color: #ffffff;
		font-size: 12px;
		font-weight: 300;
		line-height: 62px;
		letter-spacing: 1.44px;
		text-decoration: none;
	}

	.menu_footer li {
		display: inline-block;
		margin-left: 15px;
		margin-top: 7px;
		margin-bottom: 20px;
	}

	.icons_social {
		padding-top: 41px;
		margin-left: 150px;
	}

	.color_soc {
		color: #fff;
		margin-right: 10px;
	}

	.footer_menu {
		display: flex;
	}

	.line_footer {
		height: 1px;
		background-color: #f5f5f5;
		opacity: 0.1;
		margin-bottom: 20px;
	}

	.copy_footer {
		opacity: 0.75;
		color: #fff;
		font-size: 12px;
		font-weight: 400;
		line-height: 22px;
		display: flex;
		justify-content: center;
		padding-bottom: 17px;
	}

	.order_place {
		position: fixed;
		width: 60%;
		height: 90%;
		padding-top: 40px;
		background-color: #fff;
		border-radius: 15px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
	}

	.clouse_modal {
		position: absolute;
		top: 3vh;
		right: 5vw;
		height: 25px;
		width: 25px;
	}

	.first_modal {
		position: fixed;
		margin-top: 1.3vh;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid #3b3939;
		opacity: 0.8;
		transform: rotate(45deg);
	}

	.second_modal {
		position: fixed;
		margin-top: 1.3vh;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid #3b3939;
		opacity: 0.8;
		transform: rotate(135deg);
	}

	.modal_title {
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: 0.5px;
		margin-bottom: 2vh;
	}

	select:focus,
	select:hover,
	option:hover,
	option:focus {
		border:none;
		outline:none;
		border:transparent;
	}

	.order_place form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 90%;
		margin-top: -30px;
	}

	.modal_inputs {
		margin: 0 auto;
		width: 350px;
		padding: 10px 0px 10px 30px;
		border-radius: 30px;
		border: 0px;
		background-color: #F5F5F5;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 10px;
	}

	.label_select {
		margin: 0 auto;
		outline: none;
		padding: 0;
		display: flex;
		text-align: center;
		width: 380px;
		margin-bottom: 10px;
	}

	.last_input {
		width: 350px;
		padding: 10px 0px 30px 30px;
		border-radius: 20px;
	}

	.modal_select {
		margin: 0 auto;
		width: 450px;
		height: 45px;
		border-radius: 30px;
		border: 0px;
		padding-left: 30px;
		background-color: #F5F5F5;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;
		display: flex;
		text-align: center;
		padding-right: 20px;
	}

	.lines_modal {
		margin: 0 auto;
	}

	.modal_checkbox_confirm {
		display: flex;
		margin: 0 auto;
		margin-bottom: 20px;
		font-size: 16px;
		justify-content: center;
	}

	.confirm_text_modal {
		text-align: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.checkbox_around_modal {
		background: none;
		height: 25px;
		width: 25px;
		border: none;
		margin-right: 13px;
	}

	.hide_header_menu {
		position: absolute;
		top: 0;
		left: 5%;
		width: 90%;
		margin: 0 auto;
		background-color: #3B393A;
		display: flex;
		justify-content: center;
		padding-top: 80px;
		padding-bottom: 80px;
		display: none;
	}

	.hide_header_menu li {
		list-style: none;
		margin-top: 17px;
		margin-bottom: 17px;
	}

	.hide_header_menu a {
		text-decoration: none;
		color: #fff;
		font-size: 18px;
		letter-spacing: 4px;
		font-weight: 300;
	}

	.close_header_menu {
		position: absolute;
		top: 7%;
		right: 5.5%;
		height: 25px;
		width: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.first_close {
		margin-right: 2%;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid gray;
		opacity: 0.8;
		transform: rotate(45deg);
	}

	.second_close {
		margin-right: 2%;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid gray;
		opacity: 0.8;
		transform: rotate(135deg);
	}

	.fotorama__img {
		height: 400px;
		width: 400px;
	}

	.fotorama__thumb-border {
		display: none;
	}

	.fotorama__nav__frame{ 
		padding: 5px;
    	border: solid 1px #f3b787;
    	margin-right: 5px;
    	margin-left: 5px;
	}
}






















































@media (min-width: 1200px) {
	html {
	 	overflow-x: hidden; 
	 }

	body {
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		margin: 0;
		padding: 0;
		color: $bg-c-two;
	}

	.content {
		width: 1200px;
		margin: 0 auto;
		padding: 0;
	}

	.header {
		background-image: linear-gradient(to right, rgba(239, 239, 239, 0.25) 0%, rgba(211, 211, 211, 0.25) 100%);
		background: url('../../img/header.png') no-repeat center top;
		background-size: cover;
		padding-top: 25px;
		padding-bottom: 118px;
	}

	.hide1200 {
		display: none;
	}

	.hide_stars {
		display: none;
	}

	.fa-star {
		color: #f3b787;
	}

	.container {
		width: 1170px;
		margin: 0 auto;
		padding: 0;
	}

	.logo {
		display: flex;
	}

	.logo_ {
		margin-top: -10px;
	}

	.logo_ a {
		text-decoration: none;
		color: $bg-c-two;
	}

	.logo img {
		height: 38px;
	}

	.logo_title {
		margin-top: 0px;
		width: 154px;
		height: 13px;
		font-size: 18px;
		font-weight: 700;
		line-height: 62px;
		text-transform: uppercase;
		letter-spacing: 2.16px;
		margin-left: 10px;
	}

	.logo_header {
		display: flex;
		margin-bottom: 70px;
	}

	.menu {
		margin-left: 300px;
		margin-top: 20px;
	}

	.first_ul {
		margin-top: 2px;
	}

	.menu li {
		display: inline-block;
		margin-left: 30px;
		margin-top: 0;
	}

	.menu a {
		text-decoration: none;
		font-size: 12px;
		font-weight: 500;
		line-height: 62px;
		letter-spacing: 1.44px;
		color: $bg-c-two;
	}

	.header_te_wa {
		display: flex;
	}

	.title_header {
		font-size: 50px;
		font-weight: 700;
		line-height: 60px;
		font-variant: small-caps;
		width: 500px;
	}

	.info_header {
		margin-top: 43px;
		width: 565px;
		height: 67px;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
	}

	.lines_button {
		width: 215px;
		height: 60px;
		box-shadow: 0 0 34px 1px rgba(159, 128, 92, 0.08);
		border-radius: 35px;
		border: 1px solid #f3b787;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 57px;
	}

	.header_button {
		margin: 0 auto;
		padding: 14px 55px 14px 55px;
		background-color: #f3b787;
		color: #fff;
		border-radius: 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
	}

	.line {
		display: inline-block;
		height: 4px;
		width: 4px;
		transform: rotate(135deg);
		border-left: 1px solid #fff;
		border-top: 1px solid #fff;
		margin-bottom: 1.5px;
		margin-left: 2px;
		font-weight: 700;
	}

	.header_watch {
		margin-bottom: 250px;
		margin-left: 60px;
		margin-top: -100px;
	}

	.big_line {
		height: 153px;
		width: 153px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-top: 140px;
		margin-left: 250px;
		margin-bottom: 18px;
	}

	.middle_line {
		height: 120px;
		width: 120px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin: 0 auto;
		line-height: 100%;
		margin-top: 10%;
	}

	.watch_button {
	 	height: 90px;
		width: 90px;
		border-radius: 50%;
		border: 1px solid #fff;
		background-color: #fff;
		margin: 0 auto;
		line-height: 100%;
		margin-top: 12%;
	}

	.watch_play {
	    position: relative;
	    margin-top: 20%;
	}
	 
	.watch_play::after {
	    content: ''; 
	    position: absolute; 
	    left: 45%; bottom: -42px;
	    border: 12px solid transparent;
	    border-top: 18px solid #f3b787;
	    transform: rotate(270deg);
	}

	.watch_text {
		color: #ffffff;
		font-family: Montserrat;
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
		margin-left: 260px;
	}

	.section {
		padding-top: 153px;
		padding-bottom: 70px;
	}

	.section_one {
		display: flex;
	}

	.left_section {
		margin-left: -50px;
		margin-top: -30px;
	}

	.left_section img {
		width: 100%;
	}

	.section_title {
		width: 590px;
		height: 49px;
		font-size: 50px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 36px;
	}

	.section_info {
		width: 548px;
		height: 65px;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 68px;
	}

	.circle {
		height: 38px;
		width: 38px;
		border-radius: 50%;
		background-color: #f3b787;
		margin-right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;

	}

	.circle_text {
		width: 355px;
		height: 37px;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}

	.first_point, .second_point, .third_point {
		display: flex;
		margin-bottom: 20px;
	}

	.line_headphone1 {
		width: 125px;
		height: 1px;
		background-color: #f3b787;
		margin-left: -140px;
		margin-right: 17px;
		margin-top: 17.5px;
		position: relative;
	}

	.line_headphone2 {
		width: 140px;
		height: 1px;
		background-color: #f3b787;
		margin-left: -154px;
		margin-right: 17px;
		margin-top: 17.5px;
		position: relative;
	}

	.line_headphone3 {
		width: 210px;
		height: 1px;
		background-color: #f3b787;
		margin-left: -224px;
		margin-right: 17px;
		margin-top: 17.5px;
		position: relative;
	}

	.line_before:before {
		content: '';
		position: absolute;
		left: 0;
		top: -3px;
		height: 8px;
		width: 8px;
		border-radius: 50%;
		background-color: #f3b787;
	}

	.section_watch {
		width: 100%;
		background: url('../../img/mubariz-mehdizadeh-427362-unsplash.png') no-repeat center top;
		background-size: cover;
		padding-top: 150px;
		padding-bottom: 180px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.section_watch .content{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header_watch2 {
		margin: 0;
		padding: 0;
	}

	.big_line2 {
		margin: 0 auto;
		height: 153px;
		width: 153px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-bottom: 29px;
	}

	.middle_line2 {
		height: 120px;
		width: 120px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin: 0 auto;
		line-height: 100%;
		margin-top: 10%;
	}

	.watch_button2 {
	 	height: 90px;
		width: 90px;
		border-radius: 50%;
		border: 1px solid #fff;
		background-color: #fff;
		margin: 0 auto;
		line-height: 100%;
		margin-top: 12%;
	}

	.watch_play2 {
	    position: relative;
	    margin-top: 20%;
	}
	 
	.watch_play2::after {
	    content: ''; 
	    position: absolute; 
	    left: 45%; bottom: -42px;
	    border: 12px solid transparent;
	    border-top: 18px solid #f3b787;
	    transform: rotate(270deg);
	}

	.watch_text2 {
		color: #ffffff;
		font-family: Montserrat;
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
		margin: 0 auto;
		margin-left: 13px;
	}

	.work_title {
		font-size: 35px;
		font-weight: 700;
		line-height: 60px;
		text-align: center;
		margin-top: 120px;
		margin-bottom: 70px;
	}

	.our_work {
		padding-bottom: 146px;
	}

	.list_one {
		display: flex;
		width: 50%;
	}

	.df {
		width: 300px;
	}

	.list_two {
		display: flex;
		width: 50%;
		margin-left: 30px;
	}

	.list_work {
		display: flex;
	}

	.df {
		display: flex;
	}

	.around {
		height: 58px;
		width: 58px;
		min-width: 58px;
		min-height: 58px;
		border-radius: 50%;
		background-color: #f3b787;
		margin-right: 14px;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.icon_three {
		height: 58px;
		width: 58px;
		margin-top: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main_text_two {
		text-align: left;
		width: 150px;
		height: 12px;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 700;
		line-height: 34px;
		margin-bottom: 20px;
	}

	.second_text {
		text-align: left;
		width: 190px;
		height: 55px;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		font-weight: 500;
	}

	.sec_right {
		display: flex;
		justify-content: flex-end;
	}

	.left_text {
		padding-left: 43px;
	}

	.title_feel {
		color: $bg-c-two;
		font-size: 50px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 37px;
		margin-top: 114px;
	}

	.img_feel {
		width: 50%;
		background-image: linear-gradient(to right, rgba(239, 239, 239, 0.07) 0%, rgba(211, 211, 211, 0.07) 100%);
		opacity: 0.85;
		margin-left: 23px;
		object-fit: cover;
	}

	.text_feel {
		width: 539px;
		height: 92px;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 57px;
	}

	.sec_left {
		display: flex;
		margin-bottom: 136px;
	}

	.img_feel_two {
		width: 50%;
		height: 585px;
		background-image: linear-gradient(to right, rgba(239, 239, 239, 0.07) 0%, rgba(211, 211, 211, 0.07) 100%);
		opacity: 0.93;
		object-fit: cover;
	}

	.title_feel_two {
		color: $bg-c-two;
		font-size: 50px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 37px;
		margin-top: 127px;
	}

	.select_block {
		display: flex;
	}

	.title_select {
		font-size: 50px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 36px;
	}

	.ul_select {
		display: flex;
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 71px;
	}

	.ul_select li {
		margin-right: 57px;
	}

	.button_select {
		height: 20px;
		opacity: 0.25;
		color: $bg-c-two;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		font-variant: small-caps;
		text-decoration: none;
		cursor: pointer;
	}

	.active_select {
		text-decoration: none;
		height: 20px;
		color: #F3B787;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		font-variant: small-caps;
		cursor: pointer;
	}

	.name_headphone {
		width: 180px;
		height: 12px;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 700;
		line-height: 25px;
		margin-bottom: 31px;
	}

	.stars_class {
		width: 100%;
		margin-right: 0;
	}

	.stars_text {
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
	}

	table {
		border-collapse: collapse;
		font-weight: 500;
	}

	td {
		border: 1px solid rgba(23,22,22, 0.08);
		border-collapse: collapse;
	}

	.setting_one {
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		background-color: #f5f5f5;
		padding: 14px 27px 13px 18px;
		font-weight: 600;
	}

	.setting_two {
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		background-color: #f5f5f5;
		padding: 14px 30px 13px 29px;
		font-weight: 600;

	}

	.pad_left {
		padding: 30px 0px 30px 18px;
	}

	.to_center {
		text-align: center;
	}

	.all_price {
		display: flex;
		padding-top: 20px;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 43px;
	}

	.price {
		width: 200px;
		height: 31px;
		color: $bg-c-two;
		font-family: Montserrat;
		font-size: 42px;
		font-weight: 700;
		line-height: 65px;
		font-variant: small-caps;
		/*margin: 31px;*/
	}

	.last_price {
		width: 150px;
		height: 20px;
		opacity: 0.45;
		color: $bg-c-two;
		font-family: Montserrat;
		font-size: 28px;
		font-weight: 500;
		line-height: 65px;
		text-decoration: line-through;
		padding-bottom: 7px;
	}

	.colors {
		display: flex;
		margin-bottom: 40px;
	}

	.color_sel {
		height: 15px;
		width: 15px;
		border-radius: 50%;
		margin-right: 17px;
	}

	.col_one {
		background-color: #27282a;
	}

	.active_color {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		border: 2px solid #f3b787;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -6px;
		margin-right: 17px;
	}

	.active {
		height: 15px;
		width: 15px;
		border-radius: 50%;
		margin: 5px;
		background-color: #ececec;
	}

	.col_two {
		background-color: #ececec;
	}

	.col_three {
		background-color: #c1b09e;
	}

	.col_four {
		background-color: #d5d6d8;
	}

	.col_five {
		background-color: #d6ada7;
	}

	.col_six {
		background-color: #bfbfbf;
	}

	.col_seven {
		background-color: #d7c5b1;
	}

	.col_eight {
		background: linear-gradient(to bottom, #ba2133 50%, #4b4c50 50%);
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.right_select {
		padding-top: 150px;
		width: 50%;
		margin-left: 100px;
		margin-bottom: 25px;
	}

	.right_select {
		margin-left: 92px;
		margin-bottom: 25px;
	}

	.top_img {
		margin-bottom: 20px;
	}

	.top_img img {
		height: 140px;
		width: 140px;
	}

	.down_img {
		display: flex;
		justify-content: center;
	}

	.down_one {
		padding: 5px;
		height: 150px;
		width: 150px;
		margin-right: 15px;
		margin-left: 15px;
		border: 1px solid #f3b787;
	}

	.buy_line {
		width: 242px;
		min-height: 60px;
		box-shadow: 0 0 34px 1px rgba(159, 128, 92, 0.08);
		border-radius: 50px;
		border: 1px solid #f3b787;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 150px;
	}

	.buy_button {
		height: 48px;
		width: 225px;
		margin: 0 auto;
		background-color: #f3b787;
		color: #fff;
		border-radius: 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.overview {
		margin-top: 20px;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
	}

	.comfort {
		width: 100vw;
		background: url('../../img/comfort.png') no-repeat center center;
		background-size: cover;
		padding-top: 127px;
		padding-bottom: 128px;
		margin-bottom: 152px;
	}

	.comfort .content {
		text-align: center;
		width: 90%;
	}

	.comfort_main {
		text-shadow: 0 0 12px rgba(51, 51, 51, 0.4);
		color: #fff;
		font-size: 35px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 40px;
	}

	.comfort_text {
		text-shadow: 0 0 12px rgba(51, 51, 51, 0.4);
		color: #fff;
		font-size: 15px;
		font-weight: 500;
		line-height: 24px;
		width: 1000px;
		margin: 0 auto;
	}

	.questions {
		margin: 0 auto;
		width: 600px;
		color: $bg-c-two;
		font-size: 50px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 36px;
	}

	.float_contacts {
		margin-right: 50px;
		margin-bottom: 66px;
	}

	.contacts {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		width: 450px;
		font-weight: 500;
	}

	.map_call {
		 display: flex;
	}

	.map {
		width: 556px;
		height: 358px;
		margin-right: 30px;
	}

	.call_form {
		display: flex;
		flex-direction: column;
	}

	input {
		outline: none;
	}

	.inputs_call {
		max-width: 555px;
		padding: 28px 433px 28px 39px;
		border-radius: 50px;
		border: 0px;
		background-color: #F5F5F5;
		color: $bg-c-two;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 30px;
	}

	.checkbox_confirm {
		margin-top: 15px;
		display: flex;
		margin-left: 15px;
		align-items: center;
		margin-bottom: 45px;
	}

	.checkbox_around {
		background: none;
		height: 30px;
		width: 30px;
		border: none;
		margin-right: 13px;
		margin-top: 10px;
	}

	.confirm_text {
		width: 400px;
		height: 36px;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		font-weight: 500;
	}

	.link_confirm {
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		text-decoration: underline;
		font-weight: 500;
	}

	.call_line {
		margin-left: 15px;
	}

	.call_button {
		position: relative;
	}

	.call_text {
		padding-left: 10px;
		font-size: 14px;
		font-weight: 700;
		line-height: 25px;
	}

	.phone_size {
		transform: rotate(90deg);
		margin: 0 auto;
		margin-left: 15px;
		margin-top: -5px;
	}

	.footer {
		background-color: $bg-c-two;
		padding-top: 35px;
	}

	.logo {
		margin-top: 20px;
	}

	.footer_logo_text {
		width: 154px;
		height: 13px;
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		line-height: 62px;
		text-transform: uppercase;
		letter-spacing: 2.16px;
		margin-left: 10px;
		margin-right: 30px;
	}

	.menu_footer a {
		width: 591px;
		height: 14px;
		color: #ffffff;
		font-size: 12px;
		font-weight: 300;
		line-height: 62px;
		letter-spacing: 1.44px;
		text-decoration: none;
	}

	.menu_footer li {
		display: inline-block;
		margin-left: 40px;
		margin-top: 7px;
		margin-bottom: 20px;
	}

	.icons_social {
		padding-top: 41px;
		margin-left: 150px;
	}

	.color_soc {
		color: #fff;
		margin-right: 10px;
	}

	.footer_menu {
		display: flex;
	}

	.line_footer {
		height: 1px;
		background-color: #f5f5f5;
		opacity: 0.1;
		margin-bottom: 20px;
	}

	.copy_footer {
		opacity: 0.75;
		color: #fff;
		font-size: 12px;
		font-weight: 400;
		line-height: 22px;
		display: flex;
		justify-content: center;
		padding-bottom: 17px;
	}

	.order_place {
		position: fixed;
		width: 50%;
		padding-top: 40px;
		background-color: #fff;
		border-radius: 15px;
		top: 50%;
		left: 50%;
		height: 650px;
		transform: translate(-50%, -50%);
		display: none;
	}

	.clouse_modal {
		position: absolute;
		top: 3vh;
		right: 5vw;
		height: 25px;
		width: 25px;
	}

	.first_modal {
		position: fixed;
		margin-top: 1.5vh;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid #3b3939;
		opacity: 0.8;
		transform: rotate(45deg);
	}

	.second_modal {
		position: fixed;
		margin-top: 1.5vh;
		width: 25px;
		height: 0.5px;
		border: 0.5px  solid #3b3939;
		opacity: 0.8;
		transform: rotate(135deg);
	}

	.modal_title {
		text-align: center;
		font-size: 26px;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: 0.5px;
		margin-bottom: 25px;
	}

	select:focus,
	select:hover,
	option:hover,
	option:focus {
		border:none;
		outline:none;
		border:transparent;
	}

	.order_place form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 90%;

	}

	.modal_inputs {
		margin: 0 auto;
		width: 400px;
		padding: 15px 0px 15px 30px;
		border-radius: 30px;
		border: 0px;
		background-color: #F5F5F5;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 15px;
	}

	.label_select {
		margin: 0 auto;
		outline: none;
		padding: 0;
		display: flex;
		text-align: center;
		width: 430px;
		margin-bottom: 5px;
	}

	.last_input {
		width: 400px;
		padding: 15px 0px 50px 30px;
		border-radius: 20px;
	}

	.modal_select {
		margin: 0 auto;
		width: 450px;
		height: 55px;
		border-radius: 30px;
		border: 0px;
		padding-left: 30px;
		background-color: #F5F5F5;
		color: $bg-c-two;
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 10px;
		display: flex;
		text-align: center;
		padding-right: 20px;
	}

	.lines_modal {
		margin: 0 auto;
	}

	.modal_checkbox_confirm {
		display: flex;
		margin: 0 auto;
		margin-bottom: 20px;
		font-size: 16px;
	}

	.confirm_text_modal {
		text-align: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.checkbox_around_modal {
		background: none;
		height: 25px;
		width: 25px;
		border: none;
		margin-right: 13px;
	}

	.fotorama__thumb-border {
		display: none;
	}

	.fotorama__nav__frame{ 
		padding: 5px;
    	border: solid 1px #f3b787;
    	margin-right: 10px;
    	margin-left: 10px;
	}

}